:root {
    --primary-color: #0FFA0F;
    --white-color: #f5f5f5;
    --border-radius: 15px;
    --border-radius-circle: 50%;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 100px;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    text-align: center;
}

.page-title{
    color: var(--primary-color);
    margin-bottom: 100px;
    text-transform: uppercase; 
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 70%;
    padding: 10px;
    padding-left: 25px;
    margin: 10px 0;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    outline: none;
    background-color: var(--white-color);
}

.input-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.input-container .input-button button{
    width: auto;
    height: auto;
    padding: 8px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius-circle);
    background-color: black;
    cursor: pointer;
}

.input-container h2{
    color: white;
}

.icon{
    fill: white;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.btn:hover{
    scale: 1.1;
}

.messageList{
    width: 100%;
    height: 60vh;
    border: 1px solid white;
    color: white;
    position: relative;
    font-size: 25px;
    overflow-y: scroll;
}

.messageList li{
    list-style-type: none;
}

.bot-Message{
    position: absolute;
    left: 0;
    color:#0FFA0F;
    display: block;
}

.user-Message{
    position: absolute;
    right: 0;

}
@media (max-width: 768px) {
    .input {
        width: 90%;
    }

    .input-container button {
        width: 100px;
        height: 50px;
    }

    body {
        padding: 50px;
    }

    .page-title {
        margin-bottom: 50px;
    }
}

@media (max-width: 480px) {
    .input {
        width: 100%;
    }

    .input-container button {
        width: 80px;
        height: 40px;
    }

    body {
        padding: 20px;
    }

    .page-title {
        margin-bottom: 30px;
    }
}

